<html>
    <head>
        <title>File Upload</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
		<style>
			html, head, body {
				background-color: #223344;
			}
			* {
				font-family: 'Montserrat', sans-serif;
				color: #ffffff;
			}
			input {
				color: #000;
			}
			#error {
				color: red;
			}
		</style>
    </head>
    <body>
        <div class='container mt-4'>
            {{{body}}}
        </div>
    </body>
</html>
