<h1 class='text-center'>{{title}}</h1>

<h3> file upload: </h3>

<h3 id='error'> {{error}} </h3>

<form action='/upload' method='POST' enctype='multipart/form-data'>
	<input type='file' name='fileupload'>
	<p> only .png or .jpg allowed! </p>
	<input type='submit'/>
</form>

<img src='{{file}}'>
